body {
    text-align: center;
}

.heading {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    color: blueviolet;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}